
.DS_Store
.ipynb_checkpoints/Game_similarity-checkpoint.ipynb
.ipynb_checkpoints/notebook-checkpoint.ipynb
.ipynb_checkpoints/NSRecommender_app-checkpoint.py
.ipynb_checkpoints/Switch_games-checkpoint.ipynb
.ipynb_checkpoints/untitled-checkpoint.py
datasets/movies.csv
notebook.ipynb
untitled.py
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
